:root {
    --bg-color: #1b2028;
    --main-color: #23a9d5;
    --caret-color: #4b5975;
    --sub-color: #4b5975;
    --sub-alt-color: #151a21;
    --text-color: #ccccb5;
    --error-color: #b81b2c;
    --error-extra-color: #84131f;
    --colorful-error-color: #b81b2c;
    --colorful-error-extra-color: #84131f;
}

* {
    font-family: Roboto;
    font-weight: bold;
    text-transform: lowercase; /* allow duplicate usernames through 
                                  capitalization glitch */
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
}

h1 {
    font-size: 2.5em;
}