.ranking {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking,
.username,
.points {
    font-weight: bold;
    font-size: 1.2em;
}

.position-color-1 {
    background: rgb(245, 197, 75);
}

.position-color-2 {
    background: rgb(198, 198, 204);
}

.position-color-3 {
    background: rgb(171, 107, 86);
}

.position-color-1,
.position-color-2,
.position-color-3 {
    font-weight: bold;
    font-size: 1em !important;
    border-radius: 50%;
}
