@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500&display=swap");

:root.light {
    --body-background-color: rgb(255, 255, 255);
    --text-color: rgb(41, 41, 41);
    --accent-grey-color: rgb(243, 243, 243);
    --accent-blue-color: rgb(255, 255, 255);
    --interactable-hover: rgb(220, 220, 220);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: rgb(6, 7, 14);
        --text-color: rgb(237, 237, 237);
        --accent-grey-color: rgb(29, 29, 29);
        --accent-blue-color: rgb(26, 26, 35);
        --interactable-hover: rgb(41, 41, 58);
    }
}

:root.dark {
    --body-background-color: rgb(6, 7, 14);
    --text-color: rgb(237, 237, 237);
    --accent-grey-color: rgb(29, 29, 29);
    --accent-blue-color: rgb(26, 26, 35);
    --interactable-hover: rgb(41, 41, 58);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Kanit", sans-serif;
    background: var(--body-background-color);
    color: var(--text-color);
}

body,
body > * {
    transition: color 100ms, background calc(500ms);
}

#app {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

.leaderboard {
    padding: 2rem 0 2rem 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr auto;
    align-items: center;
    padding: 0 1rem;
}

.grid-container > * {
    padding: 1rem;
}

.grid-container > div > button,
.icon-button {
    padding: 0.8rem;
    margin: 0.2rem;
    height: 2.15em;
    width: 2.15em;
    font-size: 1.5em;
    transition: background 100ms;
    border: none;
    border-radius: 50%;
    background: var(--accent-blue-color);
    color: var(--text-color);
}

.grid-container > div > button:hover,
.icon-button:hover {
    background: var(--interactable-hover);
    cursor: pointer;
}

.non-icon-button {
    padding: 0.8rem;
    margin: 0.2rem;
    font-size: 1.5em;
    transition: background 100ms;
    border: none;
    background: var(--accent-blue-color);
    color: var(--text-color);
}

.non-icon-button:hover {
    background: var(--interactable-hover);
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    padding: 0.8rem;
    margin: 0.2rem;
    outline: none;
    border: none;
    border-radius: 1px;
    background: var(--accent-blue-color);
    color: var(--text-color);
}

hr {
    height: 0.2rem;
    border: none;
    background: var(--accent-grey-color);
}
